<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World 1</title>
</head>
<body>

<!--
online dist (as of 2018-02-09)
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/vue"></script>
-->

<script src="./dist/vue.js"></script>
<script src="./dist/vuex.js"></script>

<!-- Prototype the fate list - eventually this will be a component. -->

<div id="app">
    <p>{{ getMsg }}</p>
    <table>
        <tr>

            <th v-for="h in colNames">
                {{h}}
            </th>

        <tr v-for="r in getFates" :key="r.txId" >
            <td>{{r.duration}}</td>
            <td>{{r.txId}}</td>
            <td>{{r.tableId}}</td>
            <td>{{r.tableName}}</td>
            <td>{{r.reason}}</td>
            <td>{{r.startTime}}</td>
            <td>{{r.updateTime}}</td>
        </tr>


        <tr v-for="r in getActiveFates" :key="r.txId" >
            <td>{{r.duration}}</td>
            <td>{{r.txId}}</td>
            <td>{{r.tableId}}</td>
            <td>{{r.tableName}}</td>
            <td>{{r.reason}}</td>
            <td>{{r.startTime}}</td>
            <td>{{r.updateTime}}</td>
            <td>{{r.flag}}</td>
        </tr>

    </table>

</div>

<script>


    const store = new Vuex.Store({
        state:{

            storeMsg: "a message from the store",

            fates: [
                {
                    "duration": "1:11",
                    "txId": "12345678",
                    "tableId": "123",
                    "tableName": "tableA",
                    "reason": "compaction",
                    "startTime": "2018-02-10T01:23:56",
                    "updateTime": "2018-02-10T02:34:56",
                    flag: false
                },
                {
                    "duration": "4:56",
                    "txId": "12345678",
                    "tableId": "123",
                    "tableName": "tableB",
                    "reason": "success",
                    "startTime": "2018-02-10T01:23:56",
                    "updateTime": "2018-02-10T02:34:56",
                    flag: true
                }
            ]
        },
        getters: {
            fateList: state => {
                return state.fates
            },

            activeFates: state => {
                return state.fates.filter(fate => fate.reason !== 'success')
            }
        }
    })

    new Vue({
        el: '#app',

        computed:{
            <!-- These should be converted to using store getters - name now are to show to differentiate name from those in store.-->
            getMsg () {
                return store.state.storeMsg + ': ' + new Date().toLocaleString()
            },

            getFates () {
              return store.getters.fateList
            },

            getActiveFates () {
                return store.getters.activeFates
            }

        },

        data() {
            return {
                colNames: [
                    'Duration',
                    'Tx Id',
                    'Table Id',
                    'Table Name',
                    'Reason',
                    'Start Time',
                    'Update Time'
                ]
            }
        }
    })
</script>

</body>
</html>
